.container{
  display:flex;
  justify-content: center;
  margin-top: 2%;
  width: 40%;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
}

h1{
  margin-top: 40px;
}

.input{
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  width: 100%;
}
.button{
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.redbutton{
  display: flex;
  justify-content: end;
  font-size: 12px;
}